<%- include('./partials/header') %>
<h2><%= title %></h2>
<!-- prettier-ignore -->
<%- include('./partials/create-button', { type: 'category' }) %>
<% if (categoryList.length) { %>
<ul>
  <% for (const category of categoryList) { %>
  <li class="text-lg">
    <a href="<%= category.url %>" class="text-blue-500 hover:text-blue-600">
      <strong><%= decode(category.name) %></strong>
    </a>
  </li>
  <% } %>
</ul>
<% } else { %>
<p>There are no categories.</p>
<% } %> <%- include('./partials/footer') %>
