<%- include('./partials/header') %>
<div class="mb-4">
  <h3 class="text-3xl mb-2">
    Welcome to the <em>Outdoor Equipment Store Inventory</em>.
  </h3>
  <p>
    Here you can create, read, update, and delete items from the Outdoor
    Equipment Store inventory.
  </p>
</div>
<div class="mb-4">
  <h3 class="text-3xl mb-2">The inventory has the following in stock:</h3>
  <ul>
    <li><strong>Types of items:</strong> <%= numItems %></li>
    <li><strong>Total quantity of items:</strong> <%= qtyItems %></li>
    <li><strong>Categories of items:</strong> <%= numCategories %></li>
  </ul>
</div>
<div class="flex gap-2 flex-wrap">
  <%- include('./partials/create-button', { type: 'item' }) %>
  <%- include('./partials/create-button', { type: 'category' }) %>
</div>
<%- include('./partials/footer') %>
