<%- include('./partials/header') %>
<div class="mb-2 flex flex-col gap-2 max-w-lg">
  <h3>About the OES Inventory</h3>
  <p>
    Welcome to the Outdoor Equipment Store Inventory, a dashboard for managing
    the inventory of a fake business.
  </p>
  <p>You can use this dashboard to perform the following operations:</p>
  <ul class="list-disc ml-6">
    <li>Add new items to the inventory</li>
    <li>Create new categories to organize inventory items</li>
    <li>Read/view details about items and categories in the inventory</li>
    <li>Update details about items and categories in the inventory</li>
    <li>Delete items and categories from the inventory</li>
  </ul>
</div>
<div class="mb-2 flex flex-col gap-2 max-w-lg">
  <h3>The inventory has the following in stock:</h3>
  <ul>
    <li><strong>Types of items:</strong> <%= numItems %></li>
    <li><strong>Total quantity of items:</strong> <%= qtyItems %></li>
    <li><strong>Categories of items:</strong> <%= numCategories %></li>
  </ul>
</div>
<div class="flex gap-2 flex-wrap">
  <%- include('./partials/create-button', { type: 'item' }) %> <%-
  include('./partials/create-button', { type: 'category' }) %>
</div>
<%- include('./partials/footer') %>
